html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #1f1f1f;
}

body, h1, h2, h3 {
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: #5aadbb;
  }
  &.border {
    padding: 20px;
    border: 1px solid;
    border-color: #eee;
    border-radius: 7px;
    &:hover {
      background-color: #eee;
      border-color: #5aadbb;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  .centered {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    vertical-align:middle;
    display:inline-block;
    margin-right: 30px;
  }
}
.header-title {
  flex: 1;
  margin: 0.5rem;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  white: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cf4646;
  div {
    padding: 1rem;
    color: white;
  }
}
.title-h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.title-logo {
  height: 3rem;
  border-radius: 1rem;
  margin: 0;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.map-h2 {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
}
.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech {
  height: 15rem;
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.tech-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}
.tech-h3 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.vue-countdown {
  padding: 0;
  margin-top: -40px;
  margin-bottom: -5px;
  color: #629bff;
  li {
    display: inline-block;
    margin: 0 16px;
    text-align: center;
    position: relative;

    &:after {
      content: ':';
      position: absolute;
      top: 0;
      right: -13px;
      font-size: 32px;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:after {
      content: '';
    }
  }

  .digit {
    font-size: 48px;
    font-weight: 600;
    line-height: 0.5;
    margin-bottom: 0;
  }

  .text {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px;
  }

}

#mapview {
  height: 600px;
  background: #1a2025;
}
